
<div class="container landing">
  <div class="head-index"><h2>Edit a Snippet</h2></div>
  <form method="POST" action="/snippets/?_method=PUT">
    <div class="edit-home">
      <div class="form-group">
        <label for="editedValue">Edit Value:</p>  
        <textarea id="editedValue" name="editedValue" style="color: red;  " rows="3" cols="40" value="<%= snippet.value %>"></textarea>
        <div class="form-group">
          <label for="editedTag">Edit Tag:</p>  
          <textarea id="editedTag" name="editedTag" style="color: red; " rows="3" cols="40" value="<%= snippet.tag %>"></textarea>
        </div>
        
        <input type="submit" class="btn btn-success" value="edit it!">
      </div>
    </div>
    

   

    <input type="hidden" class="submitto" name="snippetId" value="<%= snippet.id %>">
  </form>
</div>




<script>
  let textAreaValue = document.querySelector("#editedValue")
  let textAreaTag = document.querySelector("#editedTag")
  console.log(textAreaValue)
  textAreaValue.innerHTML = "<%= snippet.value %>"
  textAreaTag.innerHTML = "<%= snippet.tag %>"
</script>
